*{
    margin: 0 ;
    padding: 0 ;
}

body{
    min-width: 235px ;
    overflow-x: hidden;
}

.nav-bar{
    height: 90px ;
    display: flex ;
    flex-direction: row;
    justify-content: flex-end ;
    align-items: center;
    width: 100% ;
    background-color: #461d3d ;
}

.logo{
    height: 60px ;
    width: auto ;
    margin-left: 15px ;
}

.quick-link-text{
    color: white ;
    display: flex ;
    font-size: 20px ;
    align-items: center;
    margin-right: 30px ;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.icon-tabler-mail{
    margin-right: 10px ;
}

.quick-link-text:hover{
    text-decoration: underline;
}

/* INFO SECTION */

.info{
    height: calc(100vh - 90px);
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #723364;
    padding-left: 30px; 
}

.etsy-image{
    height: 500px ;
    width: 500px ;
}

.description{
    color: white ;
    max-width: 50vw;
    margin-left: 30px ;
    margin-bottom: 70px ;
}

h1{
    padding: 7px ;
    font-size: 150px ;
    margin-bottom: 30px ;
    /*font-family: 'Coda', cursive;*/
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    padding: 0 ;
    color: white;
    line-height: 90%;
}

h3{
    font-size: 40px ;
    max-width: 480px;
    margin-bottom: 20px ;
    font-family: 'Rubik', sans-serif;
    color: rgb(216, 171, 209);
}

.description p{
    font-size: 23px ;
    font-family: 'Baloo 2', cursive;
    font-weight: 300 ;
    line-height: 140% ;
    color: #ffe7fa;
    margin-bottom: 25px;
}

.etsy-link{
    padding: 20px;
    background-color: #ffe7fa;
    border-radius: 7px;
    margin-top: 15px;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px ;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.363);
}

.etsy-link:hover{
    background-color: #d1a1e7;
}

/* SCROLL ANIMATION */
.fade-in{
    opacity: 0 ;
    transition: opacity 750ms ease-in;
}

.appear{
    opacity: 1 ;
}

/* ABOUT SECTION */

.about-section{
    background-color: #fbdfba;
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.points span{
    width: 90%;
    display: block ;
    height: 5px ;
    margin-bottom: 23px ;
}

.line-appear{
    background:  #723364;
    -webkit-animation: line_animation 1.5s;
    animation: line_animation 1.5s;
}

@keyframes line_animation {
    from {width: 0px;}
    to {width: 90%;}
  }

@-webkit-keyframes line_animation {
    from {width: 0px;}
    to {width: 90%;}
}

.points{
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    margin: 80px 0 80px 0px;
}

.points ul{
    margin-left: 80px ;
    max-width: 600px ;
    font-family: 'Playfair Display', serif;
    font-size: 25px ;
}

.points li{
    margin: 7px ;
}

h2{
    color: #461d3d;
    font-size: 60px ;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 5px ;
}

.socials{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
}

.socials a{
    margin: 17px ;
    background-color: rgb(202, 134, 211);
    display: flex ;
    flex-direction: row ;
    align-items: center;
    font-size: 33px ;
    text-decoration: none;
    color: black ;
    font-family: 'Coda', cursive;
    padding: 16px ;
    border-radius: 4px;
    box-shadow: 5px 10px;
    width: fit-content;
}

.socials a:hover{
    background-color:#723364;
}

.display-images{
    opacity: 0 ;
    max-width: 800px;
    padding:15px;
    transform: translateX(50%);
    transition: 
        transform 1000ms ease-in,
        opacity 1000ms ease-in;
    
}

.image-appear{
    transform: translateX(0);
    opacity: 1 ;
}

.mosaic{
    display: grid;
}

.mosaic-item:first-of-type{
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
}

.mosaic-item:last-of-type{
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
}

/* SELECTED IMAGE AREA */
.selected-images{
    padding: 0 36px 50px 36px ;
}

.image-title{
    width: 100% ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    font-size: 50px ;
    margin: 50px 0px 5px 0 ;
    font-family: 'Rubik', sans-serif;
    color: white ;
}

.image-title p{
    margin: 0 100px 100px 0px ;
    color: white ;
    font-family: sans-serif;
}

.selected-images{
    background-color:#ccabed;
}

.image-container{
    margin-top: 55px ;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 300px;
    grid-gap: 20px ;
    grid-template-areas:
    "j-1 j-2 j-3 j-4";
}

.j-1{
    grid-area: j-1;
}
.j-2{
    grid-area: j-2;
}
.j-3{
    grid-area: j-3;
}
.j-4{
    grid-area: j-4;
}

/* GRID IMAGE AREA */

.image-section{
    display: flex ;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    padding: 0 36px 50px 36px ;
}

.container{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 300px 400px 400px 300px 500px;
    grid-gap: 20px ;
    grid-template-areas:
    "img-5 img-6 img-7 img-8"
    "img-1 img-1 img-2 img-2"
    "img-3 img-3 img-4 img-4"
    "img-11 img-12 img-13 img-14"
    "img-9 img-9 img-10 img-10";
}

.img-1{
    grid-area: img-1;
}
.img-2{
    grid-area: img-2;
}
.img-3{
    grid-area: img-3;
}
.img-4{
    grid-area: img-4;
}
.img-5{
    grid-area: img-5;
}
.img-6{
    grid-area: img-6;
}
.img-7{
    grid-area: img-7;
}
.img-8{
    grid-area: img-8;
}.img-9{
    grid-area: img-9;
}
.img-10{
    grid-area: img-10;
}
.img-11{
    grid-area: img-11;
}
.img-12{
    grid-area: img-12;
}
.img-13{
    grid-area: img-13;
}
.img-14{
    grid-area: img-14;
}

.image{
    width: 100% ;
    height: 100% ;
    overflow: hidden ;
}

img{
    width: 100% ;
    height: 100% ;
    object-fit: cover ;
    object-position: 50% 50%;
    transition: .5s ease-in-out ;
}

.gallery-container:hover img{
    transform: scale(1.2);
} 

.bottom-message{
    margin-top: 45px ;
    font-family: 'Coda', cursive;
    font-size: 34px ;
    color: rgb(255, 98, 7) ;
    text-align: center;
}

.bottom-message a{
    color: rgb(255, 98, 7) ;
}

footer{
    height: 50px ;
    background-color: rgb(255, 247, 230);
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    font-family: sans-serif;
    padding: 4px ;
}


@media (max-width: 1500px){
    .etsy-link{
        max-width: fit-content;
        margin-top: 0;
    }

    .info{
        justify-content: center;
        align-items: center;
        padding: 50px ;
    }
    .description{
        margin-left: 0px ;
        color: white ;
        max-width: none;
    }
    .etsy-image{
        height: 300px ;
        width: 300px ;
    }
    .socials{
        margin-right: 0px ;
    }
    .info a{
        display: flex ;
        align-items: center;
        margin-right: 70px ;
        margin-left: 0px ;
        text-align: center;
    }
    .socials{
    margin-right: 250px ;
    }
    .image-title{
        align-items: center;
    }
    h5{
        margin: 0 ;
        text-align: center;
        margin-top: 30px ;
        margin-bottom: 10px ;
    }
    .image-title p{
        margin: 0 ;
        margin-bottom: 75px ;
    }
    .image-section{
        padding-left: 50px ;
        padding-right: 50px ;
}
}

@media (max-width: 1300px){
    .info{
        height: fit-content ;
        display: flex ;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .socials{
        margin-right: 80px ;
        }
        .container{
            display: grid ;
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(14, 600px);
            grid-gap: 20px ;
            grid-template-areas:
            "img-1"
            "img-2"
            "img-3"
            "img-4"
            "img-5"
            "img-6"
            "img-7"
            "img-8"
            "img-9"
            "img-10"
            "img-11"
            "img-12"
            "img-13"
            "img-14";
        }
        .bottom-message {
            font-size: 24px;
        }
}

/* RESPONSIVE */
@media (max-width: 845px){
    
    .info a{
        display: flex ;
        align-items: center;
        margin: 0px ;
    }
    
    .etsy-image{
        height: 220px ;
        width: 220px ;
        margin-bottom: 30px ;
    }
    
    .description{
        margin-left: 0px ;
        color: white ;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }

    h1{
        margin: 0 ;
        max-width: none;
        text-align: center;
        margin-bottom: 30px ;
    }

    h3{
        text-align: center;
        margin: 0 ;
        margin-bottom: 20px ;
    }

    .description p {
        max-width: none;
        text-align: center;
    }

    .about-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .points{
        margin-left: 10px ;
    }
    .points ul{
        margin-left: 15px ;
        max-width: none ;
        font-size: 20px ;
    }
    .socials{
        margin-right: 0px ;
    }
    h5{
        font-size: 50px ;
        margin: 50px 0px 5px 0 ;
        text-align: center;
    }
    .image-title p{
        margin: 0 0px 60px 0px ;
    }
    .image-title{
        align-items: center;
    }
    .image-section {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 450px){
    .nav-bar{
        height: 70px ;
    }
    .info{
        padding: 25px 5px 25px 5px;
    }
    .about-section{
        padding-bottom: 20px;
    }

    .logo{
       display: none;
    }
    .quick-link{
        margin: 3px ;
    }
    .quick-link-text{
        font-size: 15px ;
        margin-top: 5px ;
        margin-left: 7px ;
        margin-right: 3px ;
        text-transform: uppercase;
    }

    .etsy-image{
        height: 150px ;
        width: 150px ;
        margin: 0 ;
        margin-bottom: 8px ;
    }

    .description p{
        font-size: 20px ;
        padding: 3px ;
    }

    .description{
        font-size: 10px ;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }

    h1{
        max-width: 250px;
        padding: 5px ;
        font-size: 30px ;
        text-align: center;
        margin: 0 ;
        margin-bottom: 10px ;
    }

    h3{
        font-size: 25px ;
        max-width: 170px;
        margin-bottom: 10px ;
    }
    .points{
        margin: 15px 0 15px 23px !important;
    }

    h2{
        font-size: 34px ;
        margin: 0 ;
    }
    .points ul{
        font-size: 15px ;
        margin: 0 ;
    }

    .points li{
        margin: 5px ;
    }

    .socials a{
    margin: 13px;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    padding: 4px;
    box-shadow: 2px 4px;
    }

    .icon{
        display: none;
    }

    h5{
        font-size: 35px ;
        margin-top: 30px ;
    }

    .image-title p{
        font-size: 15px ;
        text-align: center;
        margin-bottom: 20px; 
    }

    .image-section{
            padding-left: 10px ;
            padding-right: 10px ;
    }

    .container{
        display: grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(14, 210px);
        grid-gap: 13px ;
    }
    .bottom-message {
        font-size: 26px;
        margin-top: 10px ;
        margin-bottom: 20px;
    }
}






